body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.valueSpan{
  margin: 10px;
}
.map-container{
  padding: 10px;
}
#mapid { 
  height: 100%; 
  width: 1200px;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  touch-action: none;
  width: 1200px;
}

.city-bikes-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-bikes-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-station{
  max-height: 50vh;
  overflow: auto;
  min-width: 100px;
  overflow-x:hidden;
}

.side-bar{
  height: 100%;
  max-height: 600px;
}
.station-details p{
  margin-bottom: 0px;
  margin-top: 10px;
}

.item-station{
  margin-bottom: 15px;
  background: lightblue;
  border-radius: 8px;
  padding:5px;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  color: black;
  margin: 10px;
  max-height: 100px;
  cursor: pointer;
}

img{
  min-height: 50px;
  height: 40%;
  width: 40%;
  width: 50px;
}

.item-image{
  padding: 5px;
}

.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.station-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: -10px 0px -10px 0px;
}

.real-time-btn{
  padding: 10px 24px 10px 10px;
  border-radius: 50px;
  display: flex;
  width: max-content;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  background: transparent;
  color: black;
  border:2px solid lightblue;
  margin: 0px 10px 10px 10px;
}